---
import { Image } from "astro:assets";


const TAGS = {
  Next: {
    name: "Next.js",
    class: "bg-black text-white rounded ",
    icon: "/nextjs.svg",
    },
  Go: {
    name: "Go",
    class: "bg-sky-50  text-white rounded ",
    icon:"/Go-Logo_Blue.svg",
   },
  Tailwind: {
    name: "Tailwind",
    class: "bg-sky-600  rounded ",
    icon: "/tailwindcss.svg",
  },
  Astro: {
    name: "Astro",
    class: "bg-black text-white rounded ",
    icon: "/astro_dark.svg",
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-yellow-300 text-black border rounded border-black ",
    icon: "/js02-svgrepo-com.svg",
  },
  React: {
    name: "React",
    class: "bg-sky-700 text-white rounded  ",
    icon: '/react.svg',
  },
  Express: {
    name: "Express",
    class: "bg-black text-white rounded",
    icon: "/expressjs_dark.svg",
  },
  NODE: {
    name: "Node.js",
    class: "bg-black text-green-500 rounded",
    icon: "/nodejs.svg",
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-blue-950 text-white rounded",
    icon: "/typescript.svg",
  },
};

const PROJECTS = [
  {
    "title": "CharTY - Interactive Market Charts",
    "description": "A lightweight and dynamic Single Page Application (SPA) built with React and TypeScript, designed to visualize historical price data using candlestick charts. Supports multiple asset classes, including stocks, indices, funds, and cryptocurrencies.",
    "img": "/883shots_so.png",
    "technologys": [TAGS.TypeScript, TAGS.React]
  },
  {
    "title": "ANNA BEAUTY - Elegant Makeup Landing Page",
    "description": "A visually appealing and responsive landing page designed for a beauty and makeup brand. Built with React and Tailwind CSS to provide a smooth and engaging user experience.",
    "img": "/717shots_so.png",
    "technologys": [TAGS.React, TAGS.JavaScript, TAGS.Tailwind]
  },
  {
    "title": "Velocity & Altitude Tracker",
    "description": "A simple yet effective web app for recording velocity and altitude during cycling sessions. Eliminates the need for paid apps by allowing users to log data and export it as a CSV for personal analytics.",
    "img": "/581shots_so.png",
    "technologys": [TAGS.JavaScript, TAGS.Go]
  },
  {
    "title": "Revalida Page - Work in Progress",
    "description": "An ongoing project focused on building a web platform for Revalida-related content. Developed with JavaScript, Express, Astro, and Tailwind for a modern and optimized experience.",
    "img": "/placeholder800x800.png",
    "technologys": [TAGS.JavaScript, TAGS.Express, TAGS.Astro, TAGS.Tailwind]
  }
]
---

{
  PROJECTS.map((project) => (
    <div class="w-full mt-4 mx-auto lg:w-[740px] flex flex-col items-center border border-gray-200  dark:bg-gray-800 dark:border-gray-700 ">
      <a href="#">
        <Image
          class="size-1000 xl:size-fit mt-4 "
          src={project.img}
          alt={project.description}
          width="600"
          height="800"
        />
      </a>
      <div class="self-start p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-emerald-300 dark:text-white">
            {project.title}
          </h5>
        </a>
        <div>
          <p class="mb-3 font-normal text-white dark:text-gray-400">
            {project.description}
          </p>
          <ul class="flex flex-row flex-wrap">
            {project.technologys.map((technology) => (
              <li class={`${technology.class} m-2 font-semibold gap-x-2 py-2 px-2 flex  flex-row items-center`}>
                <Image
                  class="size-8"
                  src={technology.icon}
                  alt=`${technology.name} icon`
                  width="350"
                  height="250"
                />
                <div  class="xm:hidden">{technology.name}></div>
               
              </li>
            ))}
             
          </ul>
          <a
            href="#"
            class="inline-flex items-center px-4 py-1 text-base font-bold text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-emerald-500 hover:font-bold focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-emerald-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 ml-2"
          >
            Read more
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  ))
}
