---
import { Image } from "astro:assets";

const TAGS = {
  Next: {
    name: "Next.js",
    class: "bg-black text-white rounded ",
    icon: "../public/nextjs.svg",
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-sky-600 text-white rounded ",
    icon: "../public/tailwindcss.svg",
  },
  Astro: {
    name: "Astro",
    class: "bg-black text-white rounded ",
    icon: "../public/astro_dark.svg",
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-amber-300 text-black border rounded border-black ",
    icon: "../public/javascript.svg",
  },
  React: {
    name: "React",
    class: "bg-sky-700 text-white rounded  ",
    icon: "../public/react.svg",
  },
  Express: {
    name: "Express",
    class: "bg-black text-white rounded",
    icon: "../public/expressjs_dark.svg",
  },
  NODE: {
    name: "Node.js",
    class: "bg-black text-green-500 rounded",
    icon: "../public/nodejs.svg",
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-blue-950 text-white rounded",
    icon: "../public/typescript.svg",
  },
};
const PROJECTS = [
  {
    title: "CharTY",
    description:
      "JA lightweight SPA built with React and TypeScript, displaying historical price data in candlestick chart format for various assets including stocks, indices, funds, cryptocurrencies, etc. ",
    img: "src/imgs/883shots_so.png",
    technologys: [TAGS.TypeScript, TAGS.React],
  },
  {
    title: "MAGALLAMA",
    description: "Work in progress... ",
    img: "src/imgs/placeholder800x800.png",
    technologys: [TAGS.React, TAGS.JavaScript],
  },
  {
    title: "Nu-Controller",
    description: "Work in progress... ",
    img: "src/imgs/placeholder800x800.png",
    technologys: [TAGS.JavaScript, TAGS.Express, TAGS.Astro, TAGS.Tailwind],
  },
  {
    title: "Revalida Page",
    description: "Work in progress... ",
    img: "src/imgs/placeholder800x800.png",
    technologys: [TAGS.JavaScript, TAGS.Express, TAGS.Astro, TAGS.Tailwind],
  },
];
---

{
  PROJECTS.map((project) => (
    <div class="w-full mt-4 mx-auto lg:w-[740px] flex flex-col items-center border border-gray-200  dark:bg-gray-800 dark:border-gray-700 ">
      <a href="#">
        <Image
          class="size-1000 xl:size-auto mt-4"
          src={project.img}
          alt="help"
          width="600"
          height="800"
        />
      </a>
      <div class="self-start p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-emerald-300 dark:text-white">
            {project.title}
          </h5>
        </a>
        <div>
          <p class="mb-3 font-normal text-white dark:text-gray-400">
            {project.description}
          </p>
          <ul class="flex flex-row">
            {project.technologys.map((technology) => (
              <li
                class={`${technology.class} m-2 font-semibold gap-x-2 px-2 flex flex-row items-center`}
              >
                <Image
                  class="size-5"
                  src={technology.icon}
                  alt=""
                  width="200"
                  height="150"
                />
                {technology.name}
              </li>
            ))}
          </ul>
          <a
            href="#"
            class="inline-flex items-center px-4 py-1 text-base font-bold text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-emerald-500 hover:font-bold focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-emerald-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 ml-2"
          >
            Read more
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  ))
}
